@import url('../_wrapper/_wrapper.css');

.contacts {
	height: 520px;
	background-repeat: no-repeat;
	background-position-x: 50%;
}

.contacts__inner { padding: 80px 5px; }

.contacts__second-inner {
	margin-left: 60%;
	width: calc(40% - 130px);
	min-width: 230px;
	padding: 60px;
	height: 230px;
	background-color: #fff;
}

.contacts__content {
	margin-top: 43px;
	display: grid;
	grid-template-columns: 32px 1fr;
	height: 165px;
	justify-content: space-between;
	* { line-height: normal }
}

.contacts__icon { width: 14px; }

.contacts__description {
	font-weight: 400;
	color: #000;
	font-size: 14px;
}

@media (max-width: 900px) {
	.contacts__second-inner { margin: auto; }
}

@media (max-width: 400px) {
	.contacts__second-inner { padding: 60px 35px; }
}