// -------------------- Normalize --------------------

@import url('normalize.css');

// ------------------ Page Elements ------------------

@import url('_header/_header.css');
@import url('_catalog/_catalog.css');
@import url('_our-advantages/_our-advantages.css');
@import url('_popular/_popular.css');
@import url('_our-services/_our-services.css');
@import url('_contacts/_contacts.css');
@import url('_footer/_footer.css');