@import url("GothamPro/stylesheet.css");
* {
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none;
  font-family: 'GothamPro', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px; }

body {
  background-color: #fff;
  min-width: 320px; }

h1 {
  font-family: 'GothamPro', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase; }

h2 {
  font-family: 'GothamPro', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase; }

h3 {
  color: black;
  font-family: 'GothamPro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px; }

p {
  font-family: 'GothamPro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #969696; }
