@import url('GothamPro/stylesheet.css');

* { margin: 0; padding: 0; }

a {
	color: black;
	text-decoration: none;
	font-family: 'GothamPro', sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 22px;
}

body {
	background-color: #fff;
	min-width: 320px;
}

.wrapper {
	max-width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}

@media (min-width: 1920px) {
	.wrapper { min-width: calc(50% - 20px); }
}

h1 {
	font-family: 'GothamPro', sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-family: 'GothamPro', sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	text-transform: uppercase;
}

h3 {
	color: black;
	font-family: 'GothamPro', sans-serif;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
}

p {
	font-family: 'GothamPro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: #969696;
}

@import url('_button/_button.css');

// page elements

@import url('_header/_header.css');
@import url('_catalog/_catalog.css');
@import url('_our-advantages/_our-advantages.css');
@import url('_popular/_popular.css');

main {
	#fifthBlock {
		text-align: center;
		padding: 80px 0;
		background-color: #F4F4F4;

		h2 { margin-bottom: 80px; }

		.items {
			display: flex;
			justify-content: space-around;

			.item {
				padding: 40px 25px 20px;
				width: 244px;
				border: 2px solid white;
				h3 { margin-top: 30px; }
				img { height: 112px; }
			}
		}
	}

	#contacts {
		height: 520px;
		background-image: url('images/contacts-bg.png');
		background-repeat: no-repeat;
		background-position-x: 50%;
		.wrapper {
			padding: 80px 5px;
			.block {
				margin-left: 60%;
				width: calc(40% - 130px);
				padding: 60px 70px 70px 60px;
				height: 230px;
				background-color: #fff;
				.content {
					margin-top: 43px;
					display: grid;
					grid-template-columns: 32px 1fr;
					height: 165px;
					justify-content: space-between;
					img { width: 14px; }
					* { line-height: normal }
					p {
						font-weight: 400;
						color: #000;
						font-size: 14px;
					}
				}
			}
		}
	}
}

footer {
	background-color: #292929;
	* { color: white; }

	.button {
		// display: inline-block;
		border: 2px solid white;
		padding: 7px 23px;
		background: none;
		color: white;
	}

	.button:hover {
		background: none;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
	}

	.top { align-items: flex-start; padding: 50px 10px 20px; }
	.bottom { align-items: flex-end; padding-bottom: 45px; }

	.logo {
		height: 40px;
		text-align: left;
		.text { 
			margin-left: 10px;
			display: inline-block; 
			vertical-align: top;
			h2 { letter-spacing: 5pt; }
			p { 
				line-height: 18px;
				font-weight: 11px;
			}
		}
	}

	.number {
		text-align: right;
		p { 
			line-height: 18px;
			font-weight: 11px;
		}
	}
}

main {
	@media (max-width: 900px) {
		#fifthBlock .items {
			flex-direction: column;
			.item { margin: 10px auto; }
		}

		#contacts { display: none; }
	}
}

footer {
	@media (max-width: 480px) {
		.top { display: none; }
		.bottom .button { display: none; }
		.bottom p { margin: auto; }
		.bottom { padding: 20px 5px; }
	}
}