@import url("GothamPro/stylesheet.css");
@import url("_button/_button.css");
@import url("_header/_header.css");
@import url("_catalog/_catalog.css");
* {
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none;
  font-family: 'GothamPro', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px; }

body {
  background-color: #fff;
  min-width: 320px; }

.wrapper {
  max-width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto; }

@media (min-width: 1920px) {
  .wrapper {
    min-width: calc(50% - 20px); } }

h1 {
  font-family: 'GothamPro', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase; }

h2 {
  font-family: 'GothamPro', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase; }

h3 {
  color: black;
  font-family: 'GothamPro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px; }

p {
  font-family: 'GothamPro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #969696; }

main #thirdBlock {
  text-align: center;
  background-color: #F4F4F4;
  padding: 80px 0; }
  main #thirdBlock h2 {
    margin-bottom: 80px; }
  main #thirdBlock .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    main #thirdBlock .items .item {
      padding: 40px 25px;
      width: 244px;
      border: 2px solid white; }
      main #thirdBlock .items .item h3 {
        margin: 35px 0 20px; }
    main #thirdBlock .items .item:hover {
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      background-color: #fff; }

main #fourthBlock {
  text-align: center;
  padding: 80px 0; }
  main #fourthBlock h2 {
    margin-bottom: 80px; }
  main #fourthBlock .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    main #fourthBlock .items .item {
      margin: 10px auto;
      padding: 18px;
      border: 2px solid #F4F4F4;
      width: 180px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      main #fourthBlock .items .item .image {
        text-align: left;
        margin: 0 auto 10px;
        width: 180px;
        height: 155px;
        background-size: cover; }
        main #fourthBlock .items .item .image .sale {
          margin: 10px;
          padding: 2px 10px;
          background-color: red;
          display: inline-block;
          color: white;
          text-transform: uppercase;
          font-size: 10px; }
      main #fourthBlock .items .item h3 {
        font-size: 13px; }
      main #fourthBlock .items .item .price {
        margin: 15px auto; }
        main #fourthBlock .items .item .price * {
          display: inline-block;
          vertical-align: middle; }
        main #fourthBlock .items .item .price .hotPrice {
          color: red; }
        main #fourthBlock .items .item .price .oldPrice {
          font-size: 11px; }
    main #fourthBlock .items .item1 .image {
      background-image: url("images/pop-product-bg1.png"); }
    main #fourthBlock .items .item2 .image {
      background-image: url("images/pop-product-bg2.png"); }
    main #fourthBlock .items .item3 .image {
      background-image: url("images/pop-product-bg3.png"); }
    main #fourthBlock .items .item4 .image {
      background-image: url("images/pop-product-bg4.png"); }

main #fifthBlock {
  text-align: center;
  padding: 80px 0;
  background-color: #F4F4F4; }
  main #fifthBlock h2 {
    margin-bottom: 80px; }
  main #fifthBlock .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    main #fifthBlock .items .item {
      padding: 40px 25px 20px;
      width: 244px;
      border: 2px solid white; }
      main #fifthBlock .items .item h3 {
        margin-top: 30px; }
      main #fifthBlock .items .item img {
        height: 112px; }

main #contacts {
  height: 520px;
  background-image: url("images/contacts-bg.png");
  background-repeat: no-repeat;
  background-position-x: 50%; }
  main #contacts .wrapper {
    padding: 80px 5px; }
    main #contacts .wrapper .block {
      margin-left: 60%;
      width: calc(40% - 130px);
      padding: 60px 70px 70px 60px;
      height: 230px;
      background-color: #fff; }
      main #contacts .wrapper .block .content {
        margin-top: 43px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 32px 1fr;
        grid-template-columns: 32px 1fr;
        height: 165px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        main #contacts .wrapper .block .content img {
          width: 14px; }
        main #contacts .wrapper .block .content * {
          line-height: normal; }
        main #contacts .wrapper .block .content p {
          font-weight: 400;
          color: #000;
          font-size: 14px; }

footer {
  background-color: #292929; }
  footer * {
    color: white; }
  footer .button {
    border: 2px solid white;
    padding: 7px 23px;
    background: none;
    color: white; }
  footer .button:hover {
    background: none; }
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  footer .top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 50px 10px 20px; }
  footer .bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 45px; }
  footer .logo {
    height: 40px;
    text-align: left; }
    footer .logo .text {
      margin-left: 10px;
      display: inline-block;
      vertical-align: top; }
      footer .logo .text h2 {
        letter-spacing: 5pt; }
      footer .logo .text p {
        line-height: 18px;
        font-weight: 11px; }
  footer .number {
    text-align: right; }
    footer .number p {
      line-height: 18px;
      font-weight: 11px; }

@media (max-width: 900px) {
  main #thirdBlock .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    main #thirdBlock .items .item {
      margin: 10px auto; }
  main #fifthBlock .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    main #fifthBlock .items .item {
      margin: 10px auto; }
  main #contacts {
    display: none; } }

@media (max-width: 480px) {
  footer .top {
    display: none; }
  footer .bottom .button {
    display: none; }
  footer .bottom p {
    margin: auto; }
  footer .bottom {
    padding: 20px 5px; } }
