@import url('GothamPro/stylesheet.css');

* { margin: 0; padding: 0; }

a {
	color: black;
	text-decoration: none;
	font-family: 'GothamPro', sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 22px;
}

body {
	background-color: #fff;
	min-width: 320px;
}

.wrapper {
	max-width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}

@media (min-width: 1920px) {
	.wrapper { min-width: calc(50% - 20px); }
}

h1 {
	font-family: 'GothamPro', sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-family: 'GothamPro', sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	text-transform: uppercase;
}

h3 {
	color: black;
	font-family: 'GothamPro', sans-serif;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
}

p {
	font-family: 'GothamPro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: #969696;
}

@import url('_button/_button.css');

// page elements

@import url('_header/_header.css');
@import url('_catalog/_catalog.css');
@import url('_our-advantages/_our-advantages.css');
@import url('_popular/_popular.css');
@import url('_our-services/_our-services.css');
@import url('_contacts/_contacts.css');
@import url('_footer/_footer.css');