.logo {
	height: 40px;
	text-align: left;
}

.logo__text { 
	margin-left: 10px;
	display: inline-block; 
	vertical-align: top;
	@media (max-width: 680px) { display: none; }
}

.logo__description { 
	line-height: 18px;
	font-weight: 11px;
}