.logo {
	height: 40px;
	text-align: left;
}

.logo__text { 
	margin-left: 10px;
	display: inline-block; 
	vertical-align: top;
}

.logo__description { 
	line-height: 18px;
	font-weight: 11px;
}

.logo_roof .logo__text { 
	@media (max-width: 680px) { display: none; }
}

.logo_footer { 
	.logo__title { letter-spacing: 5pt; }
	@media (max-width: 500px) { .logo__text { display: none; } }
}