.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-bottom: -30px;
  position: relative;
  z-index: 2; }

.mobile-menu {
  position: absolute;
  top: 0;
  background-color: #FFCC00;
  z-index: 2;
  left: 0;
  width: 100vw;
  padding: 40px 0;
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.menu__item {
  display: block;
  text-align: center;
  background-color: #FFCC00;
  font-family: 'GothamPro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  padding: 19px 0; }

.burger {
  display: none;
  position: absolute;
  z-index: 3;
  left: calc(100vw - 60px);
  padding: 5px;
  padding-top: 0;
  margin: 5px; }
  .burger .burger__hl {
    background-color: white;
    width: 30px;
    height: 2px;
    margin-top: 5px; }

.burger_open .burger__hl {
  position: absolute;
  background-color: black;
  -webkit-transform: rotate(45grad);
  -ms-transform: rotate(45grad);
  transform: rotate(45grad);
  top: 10px; }

.burger_open .burger__top {
  -webkit-transform: rotate(-45grad);
  -ms-transform: rotate(-45grad);
  transform: rotate(-45grad); }

.burger_open .burger__down {
  display: none; }

@media (min-width: 530px) {
  .menu__item {
    width: calc(100% / 6); }
  .menu__item:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #FFEE00; } }

@media (max-width: 530px) {
  .burger {
    display: block; }
  .menu {
    display: none; } }
