@import url("../_wrapper/_wrapper.css");
.our-services {
  text-align: center;
  padding: 80px 0;
  background-color: #F4F4F4; }

.our-services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 80px; }

.our-services__item {
  padding: 40px 25px 20px;
  width: 244px;
  border: 2px solid white; }

.our-services__item-title {
  margin-top: 30px; }

.our-services__item-image {
  height: 112px; }

@media (max-width: 900px) {
  .our-services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .our-services__item {
    margin: 10px auto; } }
