.popular {
  text-align: center;
  padding: 80px 0; }

.popular__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 80px; }

.popular__item {
  margin: 10px auto;
  padding: 18px;
  border: 2px solid #F4F4F4;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.popular__item-image {
  text-align: left;
  margin: 0 auto 10px;
  width: 180px;
  height: 155px;
  background-size: cover; }

.popular__item-sale {
  margin: 10px;
  padding: 2px 10px;
  background-color: red;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 10px; }

.popular__item-title {
  font-size: 13px; }

.popular__item-price {
  margin: 15px auto; }
  .popular__item-price * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px; }

.popular__item-price_basic-price {
  font-size: 13px; }

.popular__item-price_hot-price {
  color: red;
  font-size: 13px; }

.popular__item-price_old-price {
  font-size: 11px; }
