@import url('../_wrapper/_wrapper.css');

.our-advantages {
	text-align: center;
	background-color: #F4F4F4;
	padding: 80px 0;
}

.our-advantages__items {
	display: flex;
	justify-content: space-around;
	padding-top: 80px;
}

.our-advantages__item {
	padding: 40px 25px;
	width: 244px;
	border: 2px solid white;
}

.our-advantages__title { margin: 35px 0 20px; }

.our-advantages__item:hover {
	transition: 0.2s;
	background-color: #fff;
}

@media (max-width: 900px) {
	.our-advantages__items { flex-direction: column; }
	.our-advantages__item { margin: 10px auto; }
}