.feedback { text-align: right; }

.feedback__number {
	display: inline-block;
}

.feedback__description { 
	line-height: 18px;
	font-weight: 11px;
}

.feedback__button {
	// display: inline-block;
	border: 2px solid;
	padding: 7px 23px;
	vertical-align: top;
	background: none;
}

.feedback__button:hover { background: none; }

.feedback_roof {
	.feedback__button { border-color: black; }
	.feedback__number { margin-right: 25px; }
}

.feedback_footer { 
	.feedback__button { border-color: white; }
	.feedback__number { margin-bottom: 20px; }
}